root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2

[*.md]
# Keep tables / intentional double space at line end
trim_trailing_whitespace = false

[*.yml]
[*.yaml]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 2

[action.yml]
indent_style = space
indent_size = 2